.entry .entry-content .has-large-font-size {
    font-size: 2em; 
    
}

#masthead {
    font-weight: bold;
    font-size: 2.5em;

    #site-navigation a {
        color: black;
    }

    #site-navigation a:hover {
        color: #4040ee
    }

}

.entry-content {
    background-color: #9ff3a5;
    border: 3px solid #51e95b;
}

.site-header {
    background-image: url("img/bg-header.jpg");
    color: white;
}

// .wp-block-columns {
//     border: 3px solid sandybrown;
//     background-color: #f3bd8b;
//     padding: 25px;
// }

.wp-block-column {
    a {
        padding: 10px;
        color: white;
        font-size: 1.2em;
        background-color: sandybrown;
        margin-left: 8px;
    }
}
